*{
    margin: 0px;
    padding: 0%;
    font-size: Poppins;
}
body{
    background-color: #222;
}
.card{
    width: 90%;
    max-width:480px;
    padding: 40px 35px;
    color: #fff;
    border-radius:30px;
    border: 0px;
    background-image: linear-gradient(135deg, #fbc2eb,#a6c1ee);
    margin:100px auto 0;
}
.search input{
    background: #ebfffc;
    outline: 0;
    padding :10px 25px;
    border-width:0px;
    border-radius: 30px;
    color:#555;
    height: 60px;
    margin-right: 60px;
    font-size: 18px;
    flex: 1;

}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.weather-icon{
    width: 170px;
    margin: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500px;
    color: white;
    text-align: center;
}
.weather h2{
    font-size: 45px;
    font-weight: 400px;
    color: white;
    text-align: center;
}
.details{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    padding :0 20px;
    margin-top: 50px;
}
.cols{
    display: flex;
    align-items: center;
    text-align:left;
    color: white;
}
.cols svg{
    margin-right:  10px; ;
}
.weather{
    display: none;

}
.error{
    color: white ;
    text-align: left;
    font-size: 20px;
    margin-left: 12px;
    display: none;
}